.header {
    
    border-radius: 10px;
    grid-area: h;
    background-color: green;
    display: flex;
    align-items: center;
}

.header img {
 
    margin-left: 15px;
    width: 100px;
    
}
img{
    width: 100%;
}